header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background: $white;
	box-shadow: 0 0 5px $ltgray;
	margin: 0 auto;
	padding: 15px 0;

	.header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.logo h1 {
			font-family: $display;
			font-size: 1.25rem;
			font-weight: 200;
			line-height: 1.1;
			color: $black;
			text-transform: uppercase;
			cursor: pointer;

			span {
				display: inline;
			}

			&::after {
				mix-blend-mode: difference;
			}
		}
	}
}

nav {
	display: block;

	ul li {
		display: none;
		font-family: $display;
		font-size: 1rem;
		letter-spacing: .5px;
		margin: 0 9px;

		&:first-child {
			display: inline;

			span {
				color: $dkgray;
				border: 2px solid $dkgray;
				padding: 7px 25px;
				cursor: pointer;
				transition: all .2s ease;

				&:hover {
					color: $black;
					border-color: $black;
				}
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	header {
		background: transparent;
		box-shadow: none;

		.header-container {
			align-items: flex-start;

			.logo h1 span {
				display: block;
			}
		}
	}

	nav {
		ul {
			li {
				display: inline;
				list-style: none;

				a {
					position: relative;
					color: $dkgray;
					text-decoration: none;
					cursor: pointer;
					padding-left: 3px;
					padding-right: 3px;

					&::after {
						content: '';
						position: absolute;
						bottom: -10px;
						left: 0;
						right: 0;
						display: block;
						border-bottom: 2px solid $dkgray;
						transform: scaleX(0);
						transition: transform .2s ease-in-out;
					}

					&:hover {
						color: $black;

						&::after {
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
}
